html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(214, 214, 214);
    color: rgb(37, 37, 37);
    font-family: "Lato", sans-serif;
}

.changeBackgroundColor {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    font-style: oblique;
    border-radius: 5px;
}

.header {
    margin: auto;
    text-align: center;
}

.image {
    margin: auto;
    display: block;
}

.navigation {
    margin: 100px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(167, 159, 144);
    max-width: 750px;
    display: block;
    
}

.element1 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;

    font-size: 5px;
}

.element2 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;

    font-size: 5px;
}

.element3 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;

    font-size: 5px;
}

.paragraph1 {
    margin: 0 auto;
    max-width: 1000px;

}

.subHeader2 {
    text-align: center;

}

.table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    border: 1px solid #ccc;
    border-collapse: collapse;
    box-shadow: 1px 0px 18px 0px rgba(160, 144, 111, 0.94);

    overflow-x: auto;
}

.tableRow__tableCell--tableHeader {
    background-color: rgba(146, 131, 100, 0.363);
    border: 1px solid #ccc;
    padding: 20px;
}

.tableRow__tableCell {
    border: 1px solid #ccc;
    padding: 20px;
}

.link {
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 23px;
    padding: 50px;
    text-decoration: none;
}

.link:hover {
    color: blue;
}

.subHeader1 {
    text-align: center;
    
}

.subHeader2 {
    text-align: center;
    
}

.subHeader3 {
    text-align: center;
    padding-top: 50px;
}

.paragraph2 {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
}

.paragraph3 {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

.paragraph4 {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
}

.paragraph5 {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
}

.paragraph6 {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
}

.paragraph7 {
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify;
}

.footer {
    text-align: center;
    padding: 20px;
}

.tableRow:hover {
    background-color: rgba(182, 182, 182, 0.438);
}

.AnotherBackground {
    color: rgb(212, 212, 212);
    background: rgb(41, 41, 41);
}